{
    "api_key": "[APIKEY is here]",
    "default_source_lang": "JA",
    "default_target_lang": "EN-US",
    "chat_log_folder": "[C:/xxxxxxxx]",
    "skip_messages": ["Hi", "Hello", "I'm OK", "Im OK", "OK", "Thanks", "Thank you", "lol", "Lol", "brb", "BRB", "afk", "AFK"],
    "skip_speakers": ["Second Life", "System"]
}
